/*  Custom CSS for the Library Fine Computation Website.*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Playfair+Display:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.hr_zero {
    border: 0.1rem solid #00F327;
}
 body {
    background-color: #050505;
 }

 .heading_main{ 
    color: #ffff;
    font-weight: 200;
    position: relative;
    text-align: center;
    margin: 1.5rem 0px 1.5rem 0px;    
 }

 h1 span {
    font-size: 1rem;
 }
 .hero {
    display: flex;
 }
.form-section{
    border: #fafafa 1px solid;
    width: 30%;
    padding: 2rem;
    height: 100%;
}
 .text-section{
    height: 100%;
    width: 50%;
    padding: 2rem;
    border: #fafafa solid 1px;
    color: #00F327;
    text-align: justify;
    line-height: 1.5rem;

 }
 .intro_text   {
    font-size: 1rem;
 }

 .form-section {
    position: relative;
 }

 form {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffff;
 }

 form input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    cursor: pointer;
 }
 form label {
    color: #00F327;
 }

 #button    {
    border: 1px solid #00F327;
    background: none;
    height: 3rem;
    width: 100%;
    color: #00F327;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0rem;
 }
 #button:hover {
    background-color: #00F327;
    color: #ffff;
    font-weight: 600;
 }

 #fine {
    color: #00F327;
    font-weight: 600;
    width: 20%;
    text-align: center;
    position: relative;
    border: #ffff 1px solid;
 }

 #fine h4 {
    margin: 1rem 0rem 1rem 0rem;
    font-weight: 400;
 }

 #display_fine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    font-size: 1.25rem;
    font-weight: 400;
 }
 
@media (max-width: 800px) {
    .hero {
        flex-direction: column;
    }
    .form-section {
        width: 100%;
    }
    .text-section {
        width: 100%;
    }
    #fine {
        width: 100%;
    }
}

